#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  border: 2px solid #eee;
  border-radius: 10px;
  padding: 0.5rem;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.text-editor-container {
  flex-basis: 55%;
}
.preview-text-editor-container {
  flex-basis: 40%;
  max-height: 630px;
  overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .text-editor-container {
    flex-basis: 100%;
  }
  .preview-text-editor-container {
    flex-basis: 100%;
  }
}
